/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 480 pixels (phones and smaller)
	2.2 - MINIMUM width of 481 pixels (phones and larger)
	2.3 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/





/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 480 pixels (phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.1 - MINIMUM width of 481 pixels (phones and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 481px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

html {
  scroll-behavior: smooth;
}

a {
  outline: inherit;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

/* HEADER */
#masthead {
  border-bottom: 3px solid #449B23
}

.header-wrapper {
  padding: 0;
}

.header-wrapper [class*='row'] {
  max-width: 1170px;
  margin: 0 auto;
}

#header-aside-inner {
  float: none;
}

.site-header .site-title {
  width: auto;
}

#logo-area {
  padding-right: 0;
  width: 230px;
  margin: 36px 0 28px;
}

.header-wrapper-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-wrapper hr {
  background: #EAE5DB;
  margin-bottom: 0;
}

.main-navigation .nav-menu > li > a {
  font-size: 18px;
  font-weight: bold;
  color: #58595B;
  text-transform: none;
  padding: 21px 0;
  line-height: 1;
}
.main-navigation .nav-menu > li:first-child > a {
  margin-left: 0;
}
.main-navigation .nav-menu > li:last-child > a {
  margin-right: 0;
}

.main-navigation .nav-menu > .menu-item-has-children > a {
  background: transparent url('../images/select-arrow.png') no-repeat right center;
  padding-right: 18px;
}

.main-navigation li a {
  text-transform: none;
  font-size: 16px;
}

#menu-main-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-item-gtranslate {
  border-left: 1px solid #EAE5DB;
  padding: 10px 12px;
}

#gtranslate_selector {
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #00508A;
  appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
  background: transparent url('../images/select-arrow.png') no-repeat right center;
  text-transform: none;
  min-width: 140px;
}

.header-button {
  border-left: none;
}

.header-button.underlined {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.header-notifications a#user-messages > span::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 23px;
  -webkit-mask: url('../images/mail-icon-alert.svg') no-repeat 50% 50%;
  mask: url('../images/mail-icon-alert.svg') no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background: #108be5;
}
.header-notifications a#user-messages > span.no-alert::before {
  content: "";
  background: #333;
}
.header-notifications a#user-messages:hover > span::before,
.header-notifications a#user-messages:hover > span::before {
  content: "";
  background: #fff !important;
}

/* FOOTER */
.footer-widget:not(:first-child) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer-widget .widget p, .footer-widget .widget li, .footer-widget .widget .textwidget,
.footer-style-2 .footer-inner-top, .footer-style-2 .footer-widget a {
  color: #fff;
  font-size: 14px;
  margin-bottom: 0;
}

#colophon .footer-inner {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto;
}

#colophon .footer-inner .footer-widget:first-child {
  grid-area: 1 / 1 / 2 / 1;
}

#colophon .footer-inner .footer-widget:nth-child(2) {
  grid-column-start: 2;
  grid-row-start: 1;
  align-self: start;
  text-align: right;
  position: relative;
  flex-direction: column;
}

#colophon .footer-inner .footer-widget:nth-child(2) .widget_media_image {
  margin-bottom: 30px;
}

#colophon .footer-inner .footer-widget:first-child .widget_media_image {
  margin-bottom: 36px;
}

#colophon .footer-inner .footer-widget:last-child {
  grid-column-start: 2;
  grid-row-start: 1;
}

.footer-style-2 .footer-widget {
  max-width: 100%;
}

.footer-widget .widget:last-child {
  margin-bottom: 0;
}

.footer-inner .footer-widget:last-child .widget {
  width: 100%;
  text-align: right;
}

#colophon.footer-style-2 {
  min-height: 0;
}



/* HOME */
.home-page {
  overflow-x: hidden;
}

.home-page #page {
  padding-top: 0;
  font-size: 18px;
}

.home-page #page .entry-header,
.home-page #page .wp-block-search__label,
.wp-block-search__button {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.home-page #page .wp-block-search {
  margin-left: calc( -100vw / 2 + 100% / 2 );
  margin-right: calc( -100vw / 2 + 100% / 2 );
  max-width: 100vw;
  padding: 188px calc( (100vw - 1170px) / 2) 282px;
  background: #093C60;
  background: url('/wp-content/uploads/2020/02/skyline-839795.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 20px solid #093C60;
}

.home-page #page .wp-block-search__input {
  font-size: 30px;
  -webkit-box-shadow: 0px 0px 0px 9px rgba(255,255,255,.6);
          box-shadow: 0px 0px 0px 9px rgba(255,255,255,.6);
  border-radius: 38px;
  padding: 24px 38px;
  border: none;
  max-width: 560px;
  margin: 0 auto;
  background: #fff url('../images/search-icon.png') no-repeat calc(100% - 38px) center;
  -webkit-transition: -webkit-box-shadow .2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: -webkit-box-shadow .2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -o-transition: box-shadow .2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: box-shadow .2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  transition: box-shadow .2s cubic-bezier(0.71, 1.7, 0.77, 1.24), -webkit-box-shadow .2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.home-page #page .wp-block-search__input:focus {
  -webkit-box-shadow: 0px 0px 0px 18px rgba(255,255,255,.6);
          box-shadow: 0px 0px 0px 18px rgba(255,255,255,.6);
}

.how-work-section {
  background: #fff;
  border-radius: 18px;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  margin: -180px auto 70px;
  padding: 30px;
  font-size: 18px;
  max-width: 936px;
}

.how-work-section h2 {
  font-size: 24px;
  text-transform: uppercase;
}

.how-work-section h3 a {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: .3em;
  color: #093c60;
}

.home-galleries-section {
  background: #fff;
  -webkit-box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
          box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
  padding: 52px 0;
}

h2[id] {
  scroll-margin-top: 10vh;
}

.galleries-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 16px;
     -moz-column-gap: 16px;
          column-gap: 16px;
}

.gallery-card a {
  display: block;
  height: 100%;
  text-align: center;
  color: #093C60;
  font-weight: bold;
}

.gallery-card a img {
  height: 247px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
  opacity: 1;
  -webkit-transition: border-radius .2s ease-in-out, opacity .2s ease-in-out;
  -o-transition: border-radius .2s ease-in-out, opacity .2s ease-in-out;
  transition: border-radius .2s ease-in-out, opacity .2s ease-in-out;
}

.gallery-card a:hover {
  color: #108BE5;
}

.gallery-card a:hover img {
  border-radius: 36px;
  opacity: .75;
}

.home-page #bbp-search-index-form,
.home-page .bbp-forum-freshness {
  display: none;
}

li.bbp-forum-info a.bbp-forum-title::before, li.bbp-topic-title a.bbp-topic-permalink::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 25px;
  background: transparent url('../images/forum-icon.png') no-repeat center center;
  background-size: cover;
}

#bbpress-forums .bbp-header ul.forum-titles {
  background: #FCA01F;
  padding: 0 38px;
  border-radius: 10px;
  margin-bottom: 21px;
}

.bbp-header ul.forum-titles li {
  color: #fff;
  border-bottom: none;
  padding: 27px 0;
  font-size: 16px;
}

#bbpress-forums ul:not(.bbp-replies) .bbp-body {
  padding: 0 38px 42px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #EAE5DB;
}

#bbpress-forums .bbp-replies .bbp-body [class|="loop-item"] {
  padding: 0 38px 42px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #EAE5DB;
}

li.bbp-forum-info a.bbp-forum-title, li.bbp-topic-title a.bbp-topic-permalink {
  font-size: 15px;
  color: #00508A;
  text-transform: uppercase;
}

li.bbp-body li.bbp-forum-topic-count, li.bbp-body li.bbp-topic-voice-count, li.bbp-body li.bbp-forum-reply-count, li.bbp-body li.bbp-topic-reply-count {
  font-size: 16px;
  color: #449B23;
}

li.bbp-forum-info, li.bbp-topic-title {
  border-bottom: none;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
  border-bottom: 1px solid #707070;
}

.bbp-header ul li:nth-child(2), .bbp-body ul li:nth-child(2) {
  padding-left: 0;
}

#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies {
  margin-top: 0;
}

.latest-replies-title {
  background: #FCA01F;
  padding: 0 38px;
  border-radius: 10px;
  margin-bottom: 21px;
  color: #fff;
  padding: 27px 38px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.625;
}

.latest-replies-list {
  list-style: none;
  margin: 0;
  padding: 30px 22px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #EAE5DB;
}

.bbpress-recent-reply-row {
  margin-bottom: 16px;
}

.recent-replies-avatar {
	width: 46px;
	height: 46px;
	border-radius: 100%;
	overflow: hidden;
	float: left;
	margin-right: 16px;
}

.recent-replies-body, .recent-replies-time-diff {
  padding-left: 62px;
  font-size: 14px;
}

.recent-replies-body {
  color: #4E4747;
  font-weight: bold;
}

.recent-replies-time-diff {
  color: #449B23;
}

@media screen and (max-width: 720px) {

  .galleries-container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 480px) {

  .galleries-container {
    display: block;
  }

}

/* GALLERY ARCHIVE */
.tax-gallery .site {
  padding-top: 0;
}

.archive-header .page-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  margin-bottom: 0;
  padding-top: 70px;
  -webkit-box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
          box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
}

.archive-header .page-title::before {
  content: "";
  display: inline-block;
  background: transparent url('../images/galleries-icon.png') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 77px;
  margin-right: 16px;
}

.gallery-featured-image-container {
  height: 420px;
  margin-bottom: 46px;
}

.gallery-featured-image-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 9px;
}

.contents-container {
  background: #fff;
  -webkit-box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
          box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
  text-align: center;
  padding: 64px 0;
}

.contents-container h2 {
  margin-bottom: 30px;
}

.contents-container > p {
  font-size: 18px;
  max-width: 720px;
  margin: 0 auto 26px;
}

.contents-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 16px 1fr 16px 1fr 16px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 60px;
}

#content .contents-wrapper .content-card {
  background-color: #fff;
  text-align: left;
  border-bottom: 1px solid #093C60;
}

.content-image-wrapper {
  display: block;
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 248px;
}

.content-image-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-image-wrapper:hover img {
  opacity: .75;
}

.content-typology {
  font-size: 14px;
  font-weight: bold;
  color: #E68906;
  text-transform: uppercase;
  margin-bottom: 0;
}

.content-card h3 {
  margin-bottom: 6px;
}

.content-card h3 a {
  font-size: 18px;
  color: #093C60;
  line-height: 1.2;
}
.content-card h3 a:hover {
  color: #108BE5;
}

.content-date {
  font-size: 16px;
  color: #707070;
  margin-bottom: 12px;
}

.content-author {
  font-size: 16px;
  color: #108BE5;
  margin-bottom: 8px;
}

.gallery-forum {
  text-align: center;
}

@media screen and (max-width: 720px) {

  .contents-wrapper {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

}

/* FORUM */
h1.big {
  font-size: 40px;
}

#bbpress-forums div.bbp-topic-author .bbp-author-avatar, #bbpress-forums div.bbp-reply-author .bbp-author-avatar {
  float: none;
  display: block;
}

#bbpress-forums div.bbp-topic-author img.avatar, #bbpress-forums div.bbp-reply-author img.avatar {
  border-radius: 100%;
  margin-bottom: 22px;
}

#bbpress-forums div.bbp-topic-author, #bbpress-forums div.bbp-reply-author {
  font-size: 13px;
  font-weight: 900;
}

#bbpress-forums div.bbp-topic-author .bbp-author-role, #bbpress-forums div.bbp-reply-author .bbp-author-role {
  font-size: 13px;
  font-weight: normal;
  color: #58595B;
  margin-bottom: 2em;
}

.bbp-user-nicename {
  font-size: 13px;
  font-weight: normal;
  color: #58595B;
}

#bbpress-forums .bbp-replies .bbp-body [class|="loop-item"] {
  position: relative;
  padding-top: 40px;
  margin-top: 48px;
  overflow: visible;
}

#bbpress-forums .bbp-replies div.bbp-reply-header {
  position: absolute;
  margin-bottom: 0;
  padding-bottom: 0;
  top: -22px;
  width: 97%;
  left: 2%;
  background: #EAE5DB;
  color: #707070;
  padding: 14px 8px;
  border-radius: 10px;
  line-height: 1;
  border-bottom: none;
}

span.bbp-admin-links a {
  color: #707070;
}
span.bbp-admin-links a:hover {
  color: #707070;
  text-decoration: underline;
}

.bbp-reply-permalink {
  display: none;
}

#bbpress-forums .bbp-replies .bbp-body .bbp-reply-author {
  border-right: 1px solid #707070;
  width: 130px;
  min-width: 130px;
}

#bbpress-forums .bbp-replies .bbp-body .bbp-reply-content {
  padding-left: 45px;
}

#bbpress-forums div.bbp-reply-content p {
  font-size: 13px;
}

#bbp_reply_submit,
#bbp_topic_submit,
input[type="submit"].wpcf7-submit {
  background: #E68906;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding: 10px 14px;
  border-radius: 3px;
  line-height: 1;
  text-transform: uppercase;
  border: none;
}
#bbp_reply_submit:hover,
#bbp_topic_submit:hover,
input[type="submit"].wpcf7-submit:hover {
  background: #093c60;
}

#bbpress-forums #subscription-toggle > span {
  height: auto;
  width: auto;
}

#bbpress-forums  #subscription-toggle a.subscription-toggle {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color:  #fff;
  background:  #E68906;
  border-radius: 3px;
  width: auto;
  height: auto;
  position: static;
  padding: 9px;
}
#bbpress-forums  #subscription-toggle a.subscription-toggle:hover {
  font-size: 14px;
  background: #093c60;
}

#bbpress-forums  #subscription-toggle a.subscription-toggle::before,
#bbpress-forums  #subscription-toggle a.subscription-toggle::after {
  display: none;
}

.mce-toolbar .mce-ico {
  color: #fff !important;
}

button.wp_ulike_btn {
  background: transparent !important;
}

.d4p-bbt-quote-block .d4p-bbt-quote-link {
  background-color: #108be5;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  padding: 6px 14px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  display: inline-block;
  font-weight: 300;
  font-family: inherit;
  margin-bottom: .5rem;
}

/* SINGLE CONTENT */
.single:not(.bp-user):not(.bbpress) #primary {
  max-width: 100%;
}

.back-to-gallery-container {
  margin-bottom: 24px;
}

a.back-to-gallery {
  font-size: 14px;
  font-weight: 900;
  color: #4E4747;
}
a.back-to-gallery:hover {
  text-decoration: underline;
}

.content-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 36px;
}

.content-featured-image-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc( ( 100% / 12 * 5 ) - 8px );
          flex: 0 1 calc( ( 100% / 12 * 5 ) - 8px );
}

.content-featured-image-container img {
  border-radius: 9px;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-header-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc( ( 100% / 12 * 7 ) - 8px );
          flex: 0 1 calc( ( 100% / 12 * 7 ) - 8px );
}

.content-header-wrapper .gallery-icon-img {
  margin-bottom: 26px;
}

.content-header-wrapper .content-gallery-name {
  font-size: 24px;
  color: #093C60;
  margin-bottom: 24px;
}

.content-header-wrapper .content-tipology-name {
  font-size: 16px;
  font-weight: bold;
  color: #E68906;
  text-transform: uppercase;
  margin-bottom: 0;
}

.content-header-wrapper .content-title {
  font-size: 36px;
  font-weight: bold;
  color: #093C60;
  margin-bottom: 16px;
  line-height: 1.2;
}

.content-header-wrapper .content-date {
  margin-bottom: 46px;
}

.content-header-wrapper .content-author {
  font-size: 16px;
}

.body-wrapper {
  background: #fff;
  -webkit-box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
          box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
  padding-top: 54px;
  padding-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc( 100% / 12 * 7 );
          flex: 0 1 calc( 100% / 12 * 7 );
}

.content-aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 calc( ( 100% / 12 * 5 ) - 68px );
          flex: 0 1 calc( ( 100% / 12 * 5 ) - 68px );
}

.content-body h2 {
  font-size: 18px;
  text-transform: none;
  color: #58595B;
  margin-bottom: 1em;
}

.content-body .is-style-big-text-p {
  font-size: 18px;
}

[class|="share-buttons-container"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  font-weight: 900;
  color: #093C60;
}

[class|="share-buttons-container"] .addtoany_shortcode {
  margin-left: 18px;
}

[class|="share-buttons-container"] .addtoany_shortcode a {
  padding: 0 10px;
}

[class|="share-buttons-container"] .addtoany_shortcode .a2a_svg {
  border-radius: 100%;
}

.share-buttons-container-before-content {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #707070;
}
.share-buttons-container-after-content {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #707070;
  margin-bottom: 70px;
}

.content-aside {
  background: #FAF9F7;
  padding: 32px 40px;
  border-radius: 10px;
}

.content-aside h2 {
  font-size: 18px;
  color: #449B23;
}

.gallery-index {
  list-style: none;
  margin-left: 0;
}

.gallery-index li {
  padding-bottom: 26px;
  margin-bottom: 24px;
  border-bottom: 1px solid #707070;
}

.gallery-index li h3 {
  margin-bottom: 0;
}

.gallery-index li h3 a {
  font-size: 18px;
  color: #093C60;
  text-transform: uppercase;
}
.gallery-index li h3 a:hover {
  color: #108BE5;
}

.gallery-index li .date {
  font-size: 15px;
  color: #707070;
  margin-bottom: 0;
}

.content-highlights {
  padding: 21px 26px;
  background: #F8EFE2;
  border-radius: 10px;
  margin-bottom: 32px;
}

.content-highlights h2 {
  font-size: 16px;
  font-weight: 900;
  margin-bottom: 1em;
  text-transform: none;
  color: #58595B;
}

.content-highlights ul {
  margin-bottom: 0;
}

.content-forum {
  padding-top: 44px;
}

.content-forum-heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 32px;
}

.content-forum-heading img {
  margin-right: 20px;
}

.content-forum-heading h2 {
  margin-bottom: 0;
}

.content-forum-heading div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-forum-heading p {
  font-size: 30px;
  color: #093C60;
  margin-bottom: 0;
}

@media screen and (max-width: 720px) {

  .content-header,
  .body-wrapper {
    display: block;
  }

  .content-featured-image-container {
    margin-bottom: 2em;
  }

}

/* REGISTER PAGE */
div#register-page .register-section, div#register-page .security-question-section {
  max-width: 100%;
}

/* IE fix */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {

  #primary {
    -ms-flex: 1 0 100%;
  }

  .galleries-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .galleries-container > .gallery-card {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 25%;
            flex: 0 1 25%;
    padding: 0 1%;
  }

}

/* FORM */
input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="email"], input[type="number"], textarea {
  background: #fff;
  border: 1px solid #EAE5DB;
}

.buddyboss-select-inner select.wpcf7-select  {
  border: 1px solid #EAE5DB;
  opacity: 1;
  width: 384px;
  /* height: 22px; */
  /* padding: 4px 3px 18px; */
  padding: 11px 3px;
  box-sizing: content-box;
  background: #fff url('../images/select-arrow.png') no-repeat 97% center;
  -webkit-appearance: none;
    -moz-appearance: none;
}

#wpcf7-f369-p370-o1 textarea {
  width: 384px;
}

/* .wp-editor-container .mce-statusbar {
  display: none;
} */

@media screen and (min-width: 721px) {
  .two-cols-element {
    columns: 2;
    column-gap: 60px;
  }
}

#profile-edit-form > h2:first-of-type {
  display: none;
}

#activity-filter-by [value="bbp_topic_create"] ~ [value="bbp_topic_create"],
#activity-filter-by [value="bbp_reply_create"] ~ [value="bbp_reply_create"] {
  display: none;
}

#bbpress-forums fieldset.bbp-form legend .two-cols-element p {
  margin-bottom: 0;
}
#bbpress-forums fieldset.bbp-form legend .two-cols-element p:nth-child(2n) {
  margin-bottom: 32px;
}

#bbpress-forums fieldset.bbp-form legend .two-cols-element label br {
  display: none;
}

#bbpress-forums fieldset.bbp-form legend .two-cols-element .bbp-template-notice {
  break-before: always;
  padding: 0;
  margin-bottom: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

#buddypress .standard-form .editfield {
  margin-bottom: 20px;
}

#buddypress .standard-form .field-visibility-settings-notoggle, #buddypress .standard-form .field-visibility-settings-toggle {
  margin-bottom: 0;
  opacity: 1;
  color: #58595b;
}

body.registration div#pass-strength-result {
  margin-bottom: 8px;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="password"], input[type="email"], input[type="number"], textarea,
div#register-page #basic-details-section input {
  padding: 10px;
  font-size: 16px;
}

/* MEMBER */
#buddypress div#item-nav .item-list-tabs ul li a {
  font-size: 14px;
  padding-bottom: 32px;
}

.red-asterisk {
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.field_google-plus,
.field_youtube,
.field_instagram,
.field_pinterest,
.field_facebook {
  display: none;
}

.dir-header {
  font-size: 40px;
}

label[for="members_search"] {
  padding-right: 0;
}
label[for="members_search"]::after,
#members_search_submit {
  display: none;
}

#buddypress .dir-form div.item-list-tabs ul li a,
.bb-order-by,
.buddyboss-select-inner span {
  font-size: 12px;
}

#buddypress .dir-list ul.item-list .item-title {
  margin-bottom: .3em;
}

.item-avatar .friendship-button.remove {
  pointer-events: none;
}
.item-avatar .friendship-button.remove::after {
  display: none !important;
}
.item-avatar .friendship-button.remove:hover {
  color: transparent;
}

/* PIECE */
div.bbp-template-notice {
  padding-left: 0;
}

/* EXPORT DATA */
.export-data-list-wrapper ul {
  margin: 0;
  list-style: none;
}
.export-data-list-wrapper ul li {
  list-style-type: none;
}

.bbp-topic-super-sticky-link {
  display: none;
}

big {
  font-size: 1.4em;
}

#buddypress #whats-new-selects {
  display: flex;
  flex-direction: column;
}

#buddypress #whats-new-selects label {
  order: -1;
}

/* Search page */
body.search h1.entry-title {
  font-size: 46px;
  margin-top: 0;
}

.search #buddypress div:not(#item-nav) > .dir-form div.item-list-tabs ul li a {
  font-size: 16px;
}

#wp-admin-bar-my-account-forums-replies,
#wp-admin-bar-my-account-forums-engagements,
#wp-admin-bar-my-account-forums-favorites {
  display: none;
}

.header-notifications .bb-user-notifications .bb-message-link {
  text-transform: none;
}

body.registration .site {
  text-align: left;
}

div#register-page p {
  max-width: 100%;
}

small {
	font-size: 90%;
}
