/*--------------------------------------------------------------
This is your custom stylesheet.

Add your own styles here to make theme updates easier.
To override any styles from other stylesheets, simply copy them into here and edit away.

Make sure to respect the media queries! Otherwise you may
accidentally add desktop styles to the mobile layout.

You're the boss, so have fun editing!

--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Global Styles
2.0 - Responsive media queries (mobile styles)
	2.1 - MAXIMUM width of 480 pixels (phones and smaller)
	2.2 - MINIMUM width of 481 pixels (phones and larger)
	2.3 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.0 - Global Styles
--------------------------------------------------------------*/





/*--------------------------------------------------------------
2.0 - Responsive media queries (mobile styles)
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - MAXIMUM width of 480 pixels (phones and smaller)
--------------------------------------------------------------*/
@media screen and (max-width: 480px) {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.1 - MINIMUM width of 481 pixels (phones and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 481px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */





/*--------------------------------------------------------------
2.4 - MINIMUM width of 721 pixels (tablets and larger)
--------------------------------------------------------------*/
@media screen and (min-width: 721px)  {


	/*
	.just_an_example {
		color: black;
	}
	*/


}/* don't delete this closing bracket */

/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

h2 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

/* HEADER */
#masthead {
  border-bottom: 7px solid #449B23
}

.header-wrapper {
  padding: 0;
}

.header-wrapper [class*='row'] {
  max-width: 1170px;
  margin: 0 auto;
}

#header-aside-inner {
  float: none;
}

.site-header .site-title {
  width: auto;
}

#logo-area {
  padding-right: 0;
  width: 230px;
  margin: 36px 0 28px;
}

.header-wrapper-first-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-wrapper hr {
  background: #EAE5DB;
  margin-bottom: 0;
}

.main-navigation .nav-menu > li > a {
  font-size: 16px;
  font-weight: bold;
  color: #58595B;
  text-transform: none;
  padding: 21px 0;
  line-height: 1;
}
.main-navigation .nav-menu > li:first-child > a {
  margin-left: 0;
}
.main-navigation .nav-menu > li:last-child > a {
  margin-right: 0;
}

#menu-main-1 {
  display: flex;
  align-items: center;
}

#gtranslate_selector {
  border: none;
  border-left: 1px solid #EAE5DB;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #00508A;
  padding: 10px 12px;
  appearance:none;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
  background: transparent url('../images/select-arrow.png') no-repeat right center;
}

.header-button {
  border-left: none;
}

.header-button.underlined {
  box-shadow: none !important;
}

/* FOOTER */
.footer-widget:not(:first-child) {
  display: flex;
  align-items: flex-end;
}

.footer-widget .widget p, .footer-widget .widget li, .footer-widget .widget .textwidget,
.footer-style-2 .footer-inner-top, .footer-style-2 .footer-widget a {
  color: #fff;
  font-size: 18px;
  margin-bottom: 0;
}

.footer-inner .footer-widget:first-child {
  flex: 2 2 0;
  max-width: 100%;
}

.footer-widget .widget:last-child {
  margin-bottom: 0;
}

.footer-inner .footer-widget:last-child .widget {
  width: 100%;
  text-align: right;
}

#colophon.footer-style-2 {
  min-height: 0;
}

/* HOME */
.home-page {
  overflow-x: hidden;
}

.home-page #page {
  padding-top: 0;
  font-size: 18px;
}

.home-page #page .entry-header,
.home-page #page .wp-block-search__label,
.wp-block-search__button {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.home-page #page .wp-block-search {
  margin-left: calc( -100vw / 2 + 100% / 2 );
  margin-right: calc( -100vw / 2 + 100% / 2 );
  max-width: 100vw;
  padding: 188px calc( (100vw - 1170px) / 2) 282px;
  background: #093C60;
  background: url('/wp-content/uploads/2020/02/skyline-839795.jpg') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  border-bottom: 20px solid #093C60;
}

.home-page #page .wp-block-search__input {
  font-size: 30px;
  box-shadow: 0px 0px 0px 9px rgba(255,255,255,.6);
  border-radius: 38px;
  padding: 24px 38px;
  border: none;
  max-width: 690px;
  margin: 0 auto;
  background: #fff url('../images/search-icon.png') no-repeat calc(100% - 38px) center;
  transition: box-shadow .2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.home-page #page .wp-block-search__input:focus {
  box-shadow: 0px 0px 0px 18px rgba(255,255,255,.6);
}

.how-work-section {
  background: #fff;
  border-radius: 18px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  margin: -116px auto 70px;
  padding: 30px;
  font-size: 18px;
  max-width: 936px;
}

.how-work-section h2 {
  font-size: 20px;
  text-transform: uppercase;
}

.how-work-section h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: .3em;
}

.home-galleries-section {
  background: #fff;
  box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
  padding: 52px 0;
}

.galleries-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}

.gallery-card a {
  display: block;
  height: 100%;
  text-align: center;
  color: #093C60;
  font-weight: bold;
}

.gallery-card a img {
  height: 247px;
  object-fit: cover;
  border-radius: 9px;
  opacity: 1;
  transition: border-radius .2s ease-in-out, opacity .2s ease-in-out;
}

.gallery-card a:hover {
  color: #108BE5;
}

.gallery-card a:hover img {
  border-radius: 36px;
  opacity: .75;
}

.home-page #bbp-search-index-form,
.home-page .bbp-forum-freshness {
  display: none;
}

li.bbp-forum-info a.bbp-forum-title::before, li.bbp-topic-title a.bbp-topic-permalink::before {
  content: "";
  display: inline-block;
  width: 29px;
  height: 25px;
  background: transparent url('../images/forum-icon.png') no-repeat center center;
  background-size: cover;
}

#bbpress-forums .bbp-header ul.forum-titles {
  background: #FCA01F;
  padding: 0 38px;
  border-radius: 10px;
  margin-bottom: 21px;
}

.bbp-header ul.forum-titles li {
  color: #fff;
  border-bottom: none;
  padding: 27px 0;
  font-size: 16px;
}

#bbpress-forums .bbp-body {
  padding: 0 38px 42px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #EAE5DB;
}

li.bbp-forum-info a.bbp-forum-title, li.bbp-topic-title a.bbp-topic-permalink {
  font-size: 15px;
  color: #00508A;
  text-transform: uppercase;
}

li.bbp-body li.bbp-forum-topic-count, li.bbp-body li.bbp-topic-voice-count, li.bbp-body li.bbp-forum-reply-count, li.bbp-body li.bbp-topic-reply-count {
  font-size: 16px;
  color: #449B23;
}

li.bbp-forum-info, li.bbp-topic-title {
  border-bottom: none;
}

#bbpress-forums li.bbp-body ul.forum, #bbpress-forums li.bbp-body ul.topic {
  border-bottom: 1px solid #707070;
}

.bbp-header ul li:nth-child(2), .bbp-body ul li:nth-child(2) {
  padding-left: 0;
}

#bbpress-forums ul.bbp-lead-topic, #bbpress-forums ul.bbp-topics, #bbpress-forums ul.bbp-forums, #bbpress-forums ul.bbp-replies {
  margin-top: 0;
}

.latest-replies-title {
  background: #FCA01F;
  padding: 0 38px;
  border-radius: 10px;
  margin-bottom: 21px;
  color: #fff;
  padding: 27px 38px;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.625;
}

.latest-replies-list {
  list-style: none;
  margin: 0;
  padding: 30px 22px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #EAE5DB;
}

.bbpress-recent-reply-row {
  margin-bottom: 16px;
}

.recent-replies-avatar {
	width: 46px;
	height: 46px;
	border-radius: 100%;
	overflow: hidden;
	float: left;
	margin-right: 16px;
}

.recent-replies-body, .recent-replies-time-diff {
  padding-left: 62px;
  font-size: 14px;
}

.recent-replies-body {
  color: #4E4747;
  font-weight: bold;
}

.recent-replies-time-diff {
  color: #449B23;
}

@media screen and (max-width: 720px) {

  .galleries-container {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 480px) {

  .galleries-container {
    display: block;
  }

}

/* GALLERY ARCHIVE */
.archive-header .page-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}

.archive-header .page-title::before {
  content: "";
  display: inline-block;
  background: transparent url('../images/galleries-icon.png') no-repeat center center;
  background-size: contain;
  height: 30px;
  width: 77px;
  margin-right: 16px;
}

.gallery-featured-image-container {
  height: 420px;
  margin-bottom: 46px;
}

.gallery-featured-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}

.contents-container {
  background: #fff;
  box-shadow: -500px 0 0 0 #fff, 500px 0 0 0 #fff;
  text-align: center;
  padding: 64px 0;
}

.contents-container h2 {
  margin-bottom: 30px;
}

.contents-container > p {
  font-size: 18px;
  max-width: 720px;
  margin: 0 auto 26px;
}

.contents-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 60px;
}

#content .contents-wrapper .content-card {
  background-color: #fff;
  text-align: left;
  border-bottom: 1px solid #093C60;
}

.content-image-wrapper {
  display: block;
  border-radius: 9px;
  overflow: hidden;
  margin-bottom: 20px;
}

.content-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-typology {
  font-size: 14px;
  font-weight: bold;
  color: #E68906;
  text-transform: uppercase;
  margin-bottom: 0;
}

.content-card h3 {
  margin-bottom: 6px;
}

.content-card h3 a {
  font-size: 18px;
  color: #093C60;
  line-height: 1.2;
}

.content-date {
  font-size: 12px;
  color: #707070;
  margin-bottom: 12px;
}

.content-author {
  font-style: 12px;
  color: #108BE5;
}

@media screen and (max-width: 720px) {

  .contents-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

}
